.home-card {
    background-color: var(--primary-background);
    box-shadow: var(--secondary-shadow);
}

.home-card-hover {
    box-shadow: var(--primary-shadow);
}

.home-card-image-comming-soon-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.4;

    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
    font-size: 4em;
    text-align: center;

    color: gray;
    background-color: white;
}

#home-hello-text {
    font-weight: 400;
    font-size: 5em;
}

#home-intro-text {
    font-weight: 200;
    font-size: 2.5em;
}

.home-card-title {
    font-weight: 600;
    font-size: 1.5em;
}

.home-card-tag {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;

    background-color: var(--secondary-background);
    border-radius: 3em;
    padding: 0.12em 1.2em;
    margin: 0.25em 0.5em 0.25em 0;
}

.home-card-tag p {
    display: inline-block;
    font-weight: 300;
    max-width: 100%;
    width: auto
}

.shipping-tag {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    background-color: rgba(0, 0, 0, .35);

    border-radius: 3em;
    padding: 0.25em 1.2em;
    margin: 0.25em 0.5em 0.25em 0;
}


.shipping-tag p {
    display: inline-block;
    font-weight: 400;
    max-width: 100%;
    width: auto
}