.sticky-header {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1;
}

.section-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-content {
  height: 100%;
  opacity: 1;
  transform: translateY();
  transition-duration: 1.5s;
  transition-timing-function: ease-out;
}

.section-content-out {
  opacity: 0;
  transform: translate3d(0, 2em, 0);
}

.section-content-full-width {
  width: 100%;
  align-items: center;
  display: flex;
}

.section-content-no-full-width {
  width: 70%;
  max-width: 1200px;
  align-items: center;
  display: flex;
}

.section-cell {
  width: auto;
  max-width: 100%;
  height: auto;
}

.text-text {
  font-weight: 400;
  font-size: 1em;

  text-decoration: none;
  color: black;
}

.text-quote {
  font-weight: 300;
  font-size: 0.8em;

  text-decoration: none;
  color: black;
}

.text-brief {
  font-weight: 600;
  font-size: 1.25em;

  text-decoration: none;
  color: black;
}

.text-bond {
  font-weight: 500;
  font-size: 1.25em;
  cursor: pointer;

  text-decoration: none;
  color: black;
}

.text-logo {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 2em;
  cursor: pointer;

  text-decoration: none;
  color: black;
}

.title-page {
  font-family: serif;
  font-size: 4em;
  font-weight: 200;
}

.title-section {
  font-family: serif;
  font-size: 2.25em;
}

.title-section-sub {
  font-family: serif;
  font-size: 1.75em;
}

.section-grid {
  display: grid;
  justify-content: space-between;
  flex: 1 1 100%;
}

.card-cell {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  display: inline-block;
  padding: 10%;

  border-radius: 0.5em;
  background-color: white;
  border: 0.5px rgb(200, 200, 200) solid;
  box-sizing: border-box;
}

.card-cell.shadow {
  box-shadow: 0 0 0.5em rgb(0, 0, 0, 0.2);
}

.card-image-cell {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  padding: 0;

  border-radius: 0.5em;
  border: none;
}

.card-image-cell.shadow {
  box-shadow: 0 0 0.5em rgb(0, 0, 0, 0.2);
}

.card-image-cell>img {
  width: 100%;
  display: block;
}